.title-color{
    background-color:#15CBAC;
    font-family: Merriweather, serif;
    letter-spacing: .7px;
    font-size: 18pt;
    font-weight: 600;
    color: whitesmoke
    
    
}

body {
    background-image: 
url('ignasi_pattern_s.png');
}

.container {
    padding-top: 70px;
    padding-bottom: 70px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.image-paragraph-divider {
    border-top: .5px solid rgb(180, 180, 180);
    padding-top: 20px;

}

h1 {
    color:#15CBAC;
    font-family: Merriweather, serif;
    font-weight: 700;
}

p{
    font-size: 12pt;
}

.img mr-3 {
    height: 180px;
    width: 180px;
}

.page-footer {
    border-top: 5px solid #15CBAC;
    background-color: #616161;
    position:fixed;bottom:0;left:0;right:0;


}

.portfolio-image {
    margin-bottom: 40px;
    padding-top: 10px;

}

.form-group{
    margin-right: 100px;
    margin-left: 20px;
}

.button{
    background-color:#15CBAC;
    border: 7px solid #15CBAC;
}